mat-toolbar {
    background-color: #fff;
    padding: 5px 0px;
    position: fixed;
    z-index: 9;
    box-shadow: 3px 4px 4px 0px rgb(0 0 0 / 8%);
    border-bottom: 1px solid #eee;
    mat-toolbar-row {
        position: relative;
        height: 42px;
        img {
            max-width: 100px;
        }
        span {
            position: absolute;
            right: 18px;
            top: 0px;
            z-index: 99;

            mat-icon {
                font-size: 27px;
                margin-top: 7px;
                -ms-transform: rotate(-30deg);
                /* IE 9 */
                transform: rotate(-30deg);
            }
        }
    }
}